.card_action {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
}

.card_container {
    height: 500px;
    width: 350px;
    background-color: #f4f4f4;
}

.card_upper {
    position: relative;
    background-color: #f4f4f4;
}

.card_image {
    position: relative;
    top: 0;
    left: 0;
}

.photo1 {
    position: relative;
    width: 360px;
    top: 0;
    left: 0;
    z-index: 2;
}

.card_bottom {
    display: grid;
    grid-template-columns: 30% 70%;

}

.photo2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.card_ref {
    position: absolute;
    top: 86%;
    left: 62%;
    z-index: 3;
    font-size: 0.9rem;
}

.status {
    position: absolute;
    z-index: 3;
    font-size: 0.9rem;
    font-family: sans-serif;
    left: 15%;
    top: -1.5%;
}

.classes>p {
    font-weight: bold;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
}

.descriptions>p {
    margin-left: 1.5rem;
    padding-bottom: 0.5rem;
}